# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Node
node_modules/
.next/
out/
.DS_Store
package-lock.json
frontend/package-lock.json

# Your virtual environment directory (adjust name if yours is different)
venv/

# Jupyter Notebook checkpoints (if you're using notebooks)
.ipynb_checkpoints/

# IDE / Editor settings (optional, depending on your setup)
.vscode/
.idea/

# macOS specific files
.DS_Store

# Add this line to your .gitignore file
venv/

# Logs and cache
logs/
*.log
log/
/logs/*
/log/*
*.log.*
.log/
__logs__/
/backend/logs/
/frontend/logs/
/scripts/logs/

# Application specific

weekly_events/

# Startup files from start_server.bat
start_backend.bat
start_frontend.bat
start_scheduler.bat
start_summary_generator.bat

# Cache directories and files
cache/
__pycache__/
*.cache
.cache/
/cache/*
**/*.cache
**/cache/
.cached/
/backend/cache/
/frontend/cache/
/scripts/cache/
/frontend/.next/cache/
*.pyc
